<div ng-if="api">
	<button type="button" class="pull-right btn btn-primary btn-sm" ng-click="sendRequest();">发送请求</button>
	<code class="code" ng-keyup="keyup($event);" ng-init="$parent.hostport='{{backEndHost}}:{{backEndPort}}'" contenteditable>{{backEndHost}}:{{backEndPort}}</code>
	<code class="code" ng-bind="api.url"></code>
	<div class="clearfix"></div>
	<br>
</div>
  <p><b>接口名称</b></p>
  <ul>
    <li editable-text="api.name" buttons="no" ng-bind="api.name" e-required></li>
  </ul>
  <p><b>请求URL</b></p>
  <ul>
    <li><code editable-text="api.url" buttons="no" ng-bind="api.url" e-placeholder="请求URL(必须以'/'开头)"e-required></code></li>
  </ul>
  <p><b>请求方式</b></p>
  <ul>
    <li editable-select="api.method" buttons="no" e-ng-options="method for method in ['get', 'post', 'put', 'delete']" ng-bind="api.method"></li>
  </ul>
  <p><b>是否需要登陆</b></p>
  <ul>
    <li ng-bind="api.authorize?'是':'否'"></li>
  </ul>
  <p><b>请求参数</b></p>
  <table class="table table-bordered table-striped">
    <tr>
      <th>参数名</th>
      <th>是否必传</th>
      <th>类型</th>
      <th>说明</th>
      <th class="show-none">&nbsp;</th>
    </tr>
    <tr ng-repeat="p in api.inParams">
      <td>
        <span editable-text="p.name" buttons="no" ng-bind="p.name"></span>
      </td>
      <td>
      <span editable-select="p.isNeed" buttons="no" e-ng-options="bool ? '是':'否' for bool in [true, false]" ng-bind="p.isNeed ? '是':'否'"></span>
      </td>
      <td>
      <span editable-select="p.type" buttons="no" e-ng-options="t for t in types" ng-bind="p.type"></span>
      <td>
      <span editable-text="p.desc" buttons="no" ng-bind="p.desc"></span>
      </td>
      <td class="text-center show-none">
      <span class="label label-danger btn" ng-dblclick="delParam(p.seq, api.inParams)">-</span>
      </td>
    </tr>
    <tr class="show-none">
      <td colspan="5" class="text-center">
        <span class="label label-info btn" ng-click="addParam(api.inParams)">&nbsp;&nbsp;+&nbsp;&nbsp;</span>
      </td>
    </tr>
  </table>
  <p><b>请求示例</b></p>
  <pre editable-textarea="api.inObject" buttons="no" e-rows="7" e-cols="40" ng-bind="api.inObject">
  </pre>
  <p><b>返回参数</b></p>
  <table class="table table-bordered table-striped">
    <tr>
      <th>参数名</th>
      <th>类型</th>
      <th>说明</th>
      <th class="show-none">&nbsp;</th>
    </tr>
    <tr ng-repeat="p in api.outParams">
      <td>
        <span editable-text="p.name" buttons="no" ng-bind="p.name"></span>
      </td>
      <td>
      <span editable-select="p.type" buttons="no" e-ng-options="t for t in types" ng-bind="p.type"></span>
      <td>
      <span editable-text="p.desc" buttons="no" ng-bind="p.desc"></span>
      </td>
      <td class="text-center show-none">
      <span class="label label-danger btn" ng-dblclick="delParam(p.seq, api.outParams)">-</span>
      </td>
    </tr>
    <tr>
      <td colspan="5" class="text-center">
        <span class="label label-info btn show-none" ng-click="addParam(api.outParams)">&nbsp;&nbsp;+&nbsp;&nbsp;</span>
      </td>
    </tr>
  </table>
  <p><b>返回示例</b></p>
  <pre editable-textarea="api.outObject" buttons="no" e-rows="7" e-cols="40" ng-bind="api.outObject">
  </pre>
  <p><b>备注</b></p>
  <ul>
    <li editable-textarea="api.remark" buttons="no" ng-bind="api.remark"></li>
  </ul>
  <p ng-if="result"><b>返回结果</b></p>
  <pre ng-bind="result"></pre>
  <div ng-if="message" class="alert alert-//message.level//" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span> //message.text//
  </div>
  <button ng-click="submit();" class="btn btn-large btn-primary save-btn">保存</button>
