{{js '/javascripts/project.js'}}
<div ng-cloak ng-controller="mainCtrl">
  <div ng-mouseover="p.editable=true" ng-mouseout="p.editable=false" ng-repeat="p in projects" class="project">
    <span tooltip="编辑"  tooltip-trigger="mouseenter" tooltip-placement="top" ng-click="edit(p, $event);" ng-show="p.editable&&!p.editing" class="glyphicon glyphicon-cog project"></span>
    <span tooltip="双击删除"  tooltip-trigger="mouseenter" tooltip-placement="top" ng-dblclick="remove(p, $event);" ng-show="p.editable&&!p.editing" class="glyphicon glyphicon-remove project"></span>
    <a href="/api/index.html#?pid={%p._id%}" class="btn {%p.className%} project">
      <input ng-blur="cancel(p, $event);" id="{%p._id%}" ng-readonly="!p.editing" type="text" class="project" ng-model="p.name">
      <br>
      <button ng-mouseover="setLock(true)" ng-mouseout="setLock(false)" ng-click="save(p, $event);" ng-show="p.editing" type="button" class="btn btn-xs btn-default">确定</button>
      <button ng-show="p.editing" type="button" class="btn btn-xs">取消</button>
    </a>
  </div>
  <div class="project">
    <a class="btn btn-default project" ng-click="edit(pro, $event)" ng-init="pro={name:'+ 新增项目',_name:'+ 新增项目'}">
      <input ng-blur="cancel(pro, $event);" id="addBtn" ng-readonly="!pro.editing" type="text" class="project" ng-model="pro.name">
      <br>
      <button ng-mouseover="setLock(true)" ng-mouseout="setLock(false)" ng-click="save(pro, $event);" ng-show="pro.editing" type="button" class="btn btn-xs btn-default">确定</button>
      <button ng-show="pro.editing" type="button" class="btn btn-xs">取消</button>
    </a>
  </div>
</div>
