<div ng-controller="mainCtrl">
	<div ng-if="message" class="alert alert-danger" role="alert">
	  <span  class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	  <span  class="sr-only">Error:</span>
	  //message//
	</div>
	<ul class="list-group" >
		<li class="list-group-item" >项目列表</li>
	  <li class="list-group-item" ng-repeat="p in projects">
	  	<span ng-if="pro._id===p._id" class="glyphicon glyphicon-pencil">&nbsp;</span><a href="/module/index.html?projectName=//p.name//#//p._id//" ng-bind="p.name"></a>
	  	{{#if editable}}
	  	<a href="javascript:void(0);" ng-dblclick="remove(p._id);" class="pull-right text-danger glyphicon glyphicon-minus">删除&nbsp;</a>
	  	<a href="javascript:void(0);" ng-click="edit(p._id, p.name)" class="pull-right text-warning glyphicon glyphicon-edit">编辑&nbsp;</a>
	  	{{/if}}
		</li>
		{{#if editable}}
	  <li class="list-group-item" ng-if="pro">
	  	<div class="col-sm-4">
	  		<input type="text" id="projectName" class="form-control" ng-model="pro.name" ng-keydown="keydown($event);" ng-blur="cancel()">
	  	</div>
	  	<div class="clearfix"></div>
	  </li>
	  <li class="list-group-item text-center">
	  	<a href="javascript:void(0);" class="text-default glyphicon glyphicon-plus" ng-click="edit()">新增&nbsp;</a>
	  </li>
	  {{/if}}
	</ul>
</div>
