<p>
  校验规则示例：
</p>
<pre id="jsonschema">
{
	"type": "object",
	"properties": {
		"firstName": {
			"type": "string",
			"description": "描述信息"
		},
		"lastName": {
			"type": "string"
		},
		"age": {
			"description": "Age in years",
			"type": "integer",
			"minimum": 1,
      "maximum": 10
		},
		"list": {
			"type": "array",
			"items":{
				"type": "object",
				"properties":{
					"id": {
						"type": "string",
						"enum":['a','b']
					}
				},
				"required": ["id"]
			}
		}
	},
	"required": ["firstName", "list"]
}
</pre>
<p>
  <a href="https://github.com/bugventure/jsen">校验规则配置说明</a>
  &emsp;
  <a href="http://json-schema.org/latest/json-schema-validation.html">json schema规范介绍</a>
</p>
<p>
  mockjs模板示例：
</p>
<pre id="mockjs">
  /*
   * @id: 随机数字id，可用@guid生成带字符的guid
   * @cword(2,4): 随机中文单词，长度在2个汉字到4个汉字之间，如果用英文随机单词可用@word
   * "list|2-4": 从对应的数组中随机选择2~4个元素
   * "money|1-10000.2": 整数位从1~10000，小数点保留2位
   * "@province": 随机省份名称
   * "@city": 随机城市名称
   * "@paragraph": 一段中文文字
   * "@datetime": 随机日期，默认格式"yyyy-mm-dd hh:mi:ss"
   * "status|1": 从后面的枚举数组中随机取一个元素
   */
  {
    "id": "@id",
    "name":"@cword(2,4)",
    "list|2-4":[{"name":"小红"},{"name":"小明"}, {"name":"小亮"}, {"name":"小超"}, {"name":"小王"}],
    "money|1-1000.2":1,
    "province": "@province",
    "city": "@city",
    "description":"@paragraph",
    "date": "@datetime",
    "status|1": ["0", "1"]
  }
  <h4><b>随机数</b></h4>
</pre>
<p>
  <a href="http://mockjs.com/examples.html">mockjs模板介绍</a>
</p>
