<p>
  校验规则示例：
</p>
<pre id="jsonschema">
  belt: {
    type: Object,
    required: true,
    team: {
      type: Array,
      required: true,
      length: {
        min: 1,
        max: 6
      }
    },
    inventory: {
      type: Array,
      default: [],
      length: {
        max: 255
      }
    }
  }
</pre>
<p>
  mockjs模板示例：
</p>
<pre id="mockjs"></pre>
<p>
  <a href="http://mockjs.com/examples.html">mockjs模板介绍</a>
  &emsp;
  <a href="http://json-schema.org/documentation.html">json schema规范介绍</a>
  &emsp;
  <a href="https://github.com/nijikokun/Validator">校验规则介绍</a>
</p>
